.rebar3
_build
.eunit

*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
.idea
*.iml
.DS_Store
.edts
rebar3.crashdump
*~
_checkouts/helix/priv/astarta

deploy.config
/artefacts/
